In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [4]:
#Load dataset
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
#Preprocess the data
#Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
#Encode one categorical variables-Gender
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [7]:
#One hot encoding 'Geography'
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [8]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [9]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
##Combine one hot encoder with our original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
## Save the encoders and scaler
with open('label_enocoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [12]:
X = data.drop('Exited', axis=1)
y = data['Exited']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [14]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [15]:
%pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (2.11.0)
Requirement already satisfied: tensorflow-intel==2.11.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (24.3.25)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.8.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (18.1.1)
Requirement already satisfied: numpy>=1.20 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.21.6)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (24.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.19.6)
Requirement already satisfied: setuptools in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (47.1.0)
Requirement already satisfied: six>=1.12.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (4.7.1)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.62.2)
Requirement already satisfied: tensorboard<2.12,>=2.11 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.2)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.31.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0->tensorflow) (0.42.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.32.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.6)
Requirement already satisfied: markdown>=2.6.8 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.4.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.2.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.0)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (6.7.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2024.7.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.1.5)
Requirement already satisfied: zipp>=0.5 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.15.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\satya\documents\data_science_roadmap\dl_projects\ann_classification\venv\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.2.2)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import tensorflow as tf
print(tf.__version__)

2.11.0

ANN Implementation

In [17]:
import tensorflow as tf


from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [18]:
X_train.shape

(8000, 12)

In [19]:
#Build our ANN model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ##Hidden layer connected with input layer
    Dense(32,activation='relu'),##HL 2
    Dense(1,activation='sigmoid')##output lyer
]


)

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [21]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [22]:
##Compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [23]:
## Setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir='logs/fit/' +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [24]:
## Set up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [25]:
##Train the model
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,
                  callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3993 - accuracy: 0.8376 - val_loss: 0.3640 - val_accuracy: 0.8595
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3539 - accuracy: 0.8537 - val_loss: 0.3609 - val_accuracy: 0.8535
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8574 - val_loss: 0.3447 - val_accuracy: 0.8575
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8620 - val_loss: 0.3477 - val_accuracy: 0.8595
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8594 - val_loss: 0.3460 - val_accuracy: 0.8585
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8604 - val_loss: 0.3460 - val_accuracy: 0.8550
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8643 - val_loss: 0.3447 - val_accuracy: 0.8510
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3302 - accuracy: 0.8627 - val_loss: 0.3679 - val_accuracy: 0.8510
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8640 - val_loss: 0.3617 - val_accuracy: 0.8555
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8625 - val_loss: 0.3537 - val_accuracy: 0.8540
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3299 - accuracy: 0.8654 - val_loss: 0.3419 - val_accuracy: 0.8585
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3260 - accuracy: 0.8664 - val_loss: 0.3466 - val_accuracy: 0.8585
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3235 - accuracy: 0.8683 - val_loss: 0.3459 - val_accuracy: 0.8530
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3216 - accuracy: 0.8684 - val_loss: 0.3483 - val_accuracy: 0.8610
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3226 - accuracy: 0.8665 - val_loss: 0.3475 - val_accuracy: 0.8560
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3173 - accuracy: 0.8683 - val_loss: 0.3612 - val_accuracy: 0.8520
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3140 - accuracy: 0.8702 - val_loss: 0.3715 - val_accuracy: 0.8385
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3131 - accuracy: 0.8715 - val_loss: 0.3659 - val_accuracy: 0.8585
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3119 - accuracy: 0.8705 - val_loss: 0.3526 - val_accuracy: 0.8545
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3087 - accuracy: 0.8723 - val_loss: 0.3507 - val_accuracy: 0.8575
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3048 - accuracy: 0.8760 - val_loss: 0.3516 - val_accuracy: 0.8620

In [26]:
model.save('model.h5')

In [27]:
#Load tensorflow extension
%load_ext tensorboard

In [28]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 13288), started 0:15:23 ago. (Use '!kill 13288' to kill it.)

In [ ]:
##Load the pickle file